/* Bordered form */
body{
    background-image: url(317492957_1332578260912925_1346930585201920853_n.jpg);
    background-position: center; 
    background-attachment: fixed;
	background-size: cover; 
}
div.form{
 width:400px;
 display: block;
 text-align: center;
 margin-top: 10%;
 margin-left:35%;
 
}
form{
	display: inline-block;
	border: 3px solid #f1f1f1;
	margin-left : auto;
    margin-right;
	text-align: left;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;*/
}

/* Set a style for all buttons */
button {
  background-color: #Fb911F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
.a{
	color:white;
	
}



/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #2a4963;
}

/* Add padding to containers */
.container {
  padding: 16px;
  
}

/* The "Forgot password" text */
/*div.psw {
  float: right;
  padding-top: 16px;
  
}*/

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  div.psw {
    display: block;
	float: none;
  }
  .cancelbtn {
   width: 100%;
  }
}
